sudo: false
language: python
python:
- '2.6'
- '2.7'
- '3.3'
- '3.4'
install:
- pip install -r requirements.txt --use-mirrors
script:
- nosetests --with-coverage --cover-package=paypalrestsdk --include=paypalrestsdk/* --exclude=functional*
after_success:
- coveralls
notifications:
  webhooks:
    urls:
     - secure: AQB+jHDVe3JuypMbSFxIObXIlB87ft2zqgVjXctmMu1qfybn9FzL6azrhL+rnVYb9O2paoETKX73jiJTcaN4yu/l92XG3qqinzISu1rhAE0Nx0uBnZD8VAKq7synCRqSuGvhe1PRT7HnqimJU4OjBtkXd20rRkJd0LhNf+PvXAU=
    on_success: change
    on_failure: always

